@import './base.css';
@import 'tailwindcss';
@plugin "daisyui";

#app {
  margin: 0 auto;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    background-color: rgb(249, 249, 249);
  }
}
