@import './base.css';
@import 'tailwindcss';
@plugin "daisyui";

#app {
  margin: 0 auto;
}

@media (hover: hover) {
  a:hover {
    background-color: hsl(0, 0%, 100%);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    background-color: rgb(249, 249, 249);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}
